@model OnlineShoppingStore.Domain.Entity.Product
@{
    ViewBag.Title = "Edite";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel-default">
    <div class="panel-heading">
        <h3> Edite Your Product</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ProductID)

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductName)
                        @Html.ValidationMessageFor(model => model.ProductName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descriptions, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descriptions)
                        @Html.ValidationMessageFor(model => model.Descriptions)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price)
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Catagory, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Catagory)
                        @Html.ValidationMessageFor(model => model.Catagory)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
            @Html.ActionLink("Back to List", "Index")
    </div>
</div>